:root {
    --emphasis-yellow: #DAA520;
    --emphasis-red: #FF0000;
    --emphasis-green: #006400;
    --emphasis-blue: #0000CD;
    --emphasis-cyan: #008B8B;
    --emphasis-magenta: #FF1493;
    --emphasis-orange: #FF4500;
    --emphasis-violet: #9400D3;
    --emphasis-gray: #434343;

    --link-bg-light:#222222;
    --link-bg-dark: #DDDDDD;
}

.color-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.color-label {
    background: var(--emphasis-yellow);
    /* padding: 0.4rem; */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.color-label-red {
    background: var(--emphasis-red);
    color: var(--link-bg-dark);
}

.color-label-green {
    background: var(--emphasis-green);
    color: var(--link-bg-dark);
}

.color-label-blue {
    background: var(--emphasis-blue);
    color: var(--link-bg-dark);
}

.color-label-orange {
    background: var(--emphasis-orange);
    color: var(--link-bg-dark);
}

.color-label-violet {
    background: var(--emphasis-violet);
    color: var(--link-bg-dark);
}

.color-label-cyan {
    background: var(--emphasis-cyan);
    color: var(--link-bg-dark);
}

.color-label-magenta {
    background: var(--emphasis-magenta);
    color: var(--link-bg-dark);
}

.color-label-gray {
    background: var(--emphasis-gray);
    color: var(--link-bg-dark);
}

.color-form input[type='radio'] {
    display: none;
}

.titulo {
    color: var(--emphasis-yellow);
}

.menu-link-0::before {
    color: var(--link-bg-dark);
}

/* Red */

.navbar-red, .footer-red {
    background: var(--emphasis-red);
}

.titulo-red {
    color: var(--emphasis-red);
}

/* Green */

.navbar-green, .footer-green {
    background: var(--emphasis-green);
}

.titulo-green {
    color: var(--emphasis-green);
}

/* Blue */

.navbar-blue, .footer-blue {
    background: var(--emphasis-blue);
}

.titulo-blue {
    color: var(--emphasis-blue);
}

/* Cyan */

.navbar-cyan, .footer-cyan {
    background: var(--emphasis-cyan);
}

.titulo-cyan {
    color: var(--emphasis-cyan);
}

/* Magenta */

.navbar-magenta, .footer-magenta {
    background: var(--emphasis-magenta);
}

.titulo-magenta {
    color: var(--emphasis-magenta);
}

/* Orange */

.navbar-orange, .footer-orange {
    background: var(--emphasis-orange);
}

.titulo-orange {
    color: var(--emphasis-orange);
}

/* Violet */

.navbar-violet, .footer-violet {
    background: var(--emphasis-violet);
}

.titulo-violet {
    color: var(--emphasis-violet);
}

/* Gray */

.navbar-gray, .footer-gray {
    background: var(--emphasis-gray);
}

.titulo-gray {
    color: var(--emphasis-gray);
}

/* Yellow, se precisar */

.navbar-yellow, .footer-yellow {
    background: var(--emphasis-yellow);
}

.titulo-yellow, .summary-title-yellow {
    color: var(--emphasis-yellow);
}

/* Texts */

.navbar-green, .footer-green, 
.navbar-gray, .footer-gray, 
.navbar-red, .footer-red,
.navbar-violet, .footer-violet,
.navbar-blue, .footer-blue {
    color: var(--link-bg-dark);
}

.navbar-cyan, .footer-cyan,
.navbar-orange, .footer-orange,
.navbar-magenta, .footer-magenta,
.navbar-yellow, .footer-yellow {
    color: var(--link-bg-light);
}

.summary-title-red, .summary-title-green,
.summary-title-blue, .summary-title-cyan,
.summary-title-magenta, .summary-title-orange, 
.summary-title-violet, .summary-title-gray {
    color: var(--link-bg-dark);
}

.brand-light {
    color: var(--link-bg-dark);
}