:root {
  --mega-sena-color: #209869;
}

.output-special {
  display: none;
  justify-content: center;
}

.bolinhas {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.bolinhas li {
  border: var(--mega-sena-color) solid 2px;
  background: var(--mega-sena-color);
  color: white;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bolinhas li span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.form-label {
  padding-right: 0.5rem;
}

.form-input {
  width: initial;
  flex-grow: 10;
  display: inline-block;
  border-radius: 5px 0 0 5px;
}

.form-button {
  width: initial;
  flex-grow: 1;
  border-radius: 0 5px 5px 0;
}


#resultado {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.icone-material {
  font-size: 1.75rem;
  text-align: center;
}

.icone-invalido {
  font-family: 'Material Icons';
  color: red;
}

.icone-valido {
  font-family: 'Material Icons';
  color: green;
}

@media screen and (max-width: 960px) {
  .bolinhas {
    width: 26rem;
  }
}

@media screen and (max-width: 420px) {
  .bolinhas {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 13rem;
    height: 8rem;
  }
}

