* {
    box-sizing: border-box;
}

:root {
    --emphasis-gray-color: #BBBBBB;
    --emphasis-gray-color-darker: #AAAAAA;
    --bg-color: #CCCCCC;
    --content-color: #DDDDDD;
    --detail-color: #555555;
    --emphasis-color: #DAA520;
    --emphasis-color-darker: #B8860B;
    --text-color: #222222;
}

body {
    margin: 0;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Source Sans Pro", sans-serif;
}

.navbar {
    width: 100%;
    height: 4.5rem;
    background: var(--emphasis-color);
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .container, footer .container {
    height: 100%;
    align-items: center;
}

.left-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.right-title {
    font-size: 1.25rem;
    color: var(--content-color);
}

.brand {
    text-decoration: none;
    color: var(--text-color);
}

main .container {
    min-height: calc(100vh - 10.5rem);
}

.menu {
    width: 30%;
    background: var(--detail-color);
    padding: 0.75rem;
    padding-top: 1.5rem;
}

details {
    cursor: pointer;
}

.summary-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--emphasis-color);
}

.summary-subtitle {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--emphasis-gray-color-darker);
}

.menu-title {
    color: var(--emphasis-color);
}

.menu-subtitle {
    color: var(--emphasis-gray-color);
}

ul#l0, ul#l1, ul#l2, ul#l3 {
    margin-left: 0;
    padding-left: 16px;
}

.menu-link {
    list-style-type: none;
    padding-left: 0;
}

.menu-link li, .menu-link-0, .menu-link-1, .menu-link-2, .menu-link-3 {
    margin-left: 0;
    padding: 0.2rem 0;
}

.menu-link-0::marker, .menu-link-1::marker, .menu-link-2::marker, .menu-link-3::marker {
    content: "";
}

.menu-link li::before, .menu-link-1::before, .menu-link-2::before, .menu-link-3::before {
    content: "✱";
    font-size: 0.75rem;
    padding-right: 0.5rem;
    color: var(--emphasis-gray-color);
}

.menu-link-0::before {
    content: "✱";
    font-size: 0.75rem;
    padding-right: 0.5rem;
    color: var(--emphasis-color);
}

.menu-link a, .menu-link-0 a, .menu-link-1 a, .menu-link-2 a, .menu-link-3 a {
    text-decoration: none;
    color: var(--content-color);
    transition: 0.2s;
}

.menu-link a:hover, .menu-link-0 a:hover, .menu-link-1 a:hover, .menu-link-2 a:hover, .menu-link-3 a:hover {
    color: var(--emphasis-color)
}

.content {
    width: 70%;
    background: var(--content-color);
    padding: 0.75rem;
}

.content p {
    text-align: justify;
}

.monospace {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
}

.destaque {
    color: red;
    font-weight: bold;
}

.img {
    width: 30%;
    float: left;
}

.img-intro {
    margin: 0.25rem 1rem 1rem 0;
}

.img-sobre-mim {
    clip-path: circle();
    margin: 0 1rem 0.5rem 0;
}

.content-link {
    color: var(--emphasis-color);
    font-weight: 700;
    text-decoration: none;
    transition: 0.2s;
}

.content-link:hover {
    color: var(--emphasis-color-darker);
}

.content-destaque {
    font-weight: 700;
}

h1 {
    color: var(--emphasis-color-darker);
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.division-1 {
    width: 100%;
}

.division-2 {
    width: 49%;
}

.division-3 {
    width: 32%;
}

select:focus {
    color: var(--emphasis-color-darker);
}

.form-label, .form-legend {
    display: block;
    padding: 1rem 0 0.5rem 0;
    text-align: left;
}

.form-input {
    display: block;
    width: 100%;
    padding: 0.5rem 0.25rem;
    border: var(--detail-color) solid 1px;
    border-radius: 0.2rem;
    transition: 0.2s;
}

.form-input:focus {
    outline: none;
    border: var(--emphasis-color) solid 2px;
    color: var(--emphasis-color-darker);
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.form-button {
    width: 10rem;
    height: 2rem;
    /* padding: 0.5rem 2rem; */
    border: none;
    margin: 0.1rem 0;
    font-size: 1rem;
    transition: 0.2s;
    border-radius: 0.25rem;
    cursor: pointer;
}

.button-primary {
    background-color: var(--emphasis-color);
    margin-right: 7.5px;
}

.button-secondary {
    background-color: var(--emphasis-gray-color);
    margin-left: 7.5px;
}

.button-primary:hover {
    background-color: var(--emphasis-color-darker);
}

.button-secondary:hover {
    background-color: var(--emphasis-gray-color-darker);
}

.output {
    padding: 0.25rem 1rem;
    margin: 0.5rem 0;
    border-radius: 0.2rem;
    display: none;
}

.output-primary {
    border: var(--emphasis-color) solid 1px;
}

.output-secondary {
    border: var(--detail-color) solid 1px;
}

.footer {
    width: 100%;
    height: 6rem;
    background: var(--emphasis-color);
    bottom: 0;
}

.footer-link {
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 0.5rem;
    color: var(--content-color);
    transition: 0.2s;
}

.footer-link:hover {
    color: var(--text-color);
}

/* Tamanho médio */

@media screen and (max-width: 1024px) {
    .container {
        width: 95%;
    }

    .menu {
        width: 33.3%;
    }

    .content {
        width: 66.7%;
    }
}

/* Tamanho pequeno */

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    main .container {
        padding-left: 0;
        padding-right: 0;
        display: inline;
    }

    .menu {
        width: 100%;
        padding-top: 0.75rem;
    }

    .content {
        width: 100%;
    }

    .division-3 {
        width: 49%;
        padding-bottom: 1rem;
    }

    .footer {
        height: 9rem;
    }

    .footer .container {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* Pequenas adaptações de layout no tamanho pequeno */

@media screen and (max-width: 560px) {
    .navbar {
        height: 6rem;
    }

    nav .container {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    .left-title, .right-title {
        width: 100%;
    }

    .footer .container {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .developer {
        width: 100%;
    }

    .contact {
        width: 100%;
    }
}

/* Tamanho extra pequeno */

@media screen and (max-width: 480px) {
    .img {
        width: 40%;
    }

    .division-2, .division-3 {
        width: 100%;
        padding-bottom: 1rem;
    }
}

/* Adaptando o botão para telas bem menores */

@media screen and (max-width: 380px) {
    .buttons {
        display: block;
        padding: 1rem 0;
        text-align: center;
    }
}